body {
    height: 600px;
    background-image:url('Слоны_1.jpg'), url('В_углах.png'), url('В_углах.png'), url('В_углах.png'), url('В_углах.png'), url('Общий_фон.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat;
    background-size: 250px, 150px, 150px, 150px, 150px, 100%;
    background-position: center, top 10px left 10px, top 10px right 10px, bottom 10px right 10px, bottom 10px left 10px, center;
    background-attachment: fixed;
}


